*{
  background-color: #1F2833;
}
.btn{
  margin: 10px;
}
.title{
  color:#66FCF1;
  font-size: larger ;
}
.resume{
  color: white;
  text-decoration: dotted;
  font-size: 10em;
  padding: 10px;
}
.matters{
  color: #66FCF1;
  font-size: 12em;
}
.alot{
  color:white;
  font-size: 6em;
}

.content{
  padding: 10px;
  font-size: medium;
}
.students{
  background-color: #c5c6c7;
  padding: 20px;
}

.admin{
  background-color: #45A29E;
  padding: 20px;
}
.end{
  color: #c5c6c7;
}
